<div class = "master-container">
    <div class = "header-container">
        <div class = "hamburger-icon">
            <img src="../../../assets/header-assets/bars-solid.png" class="hamburger-icon">
        </div>
        <div class = "brand-container">
            <h2>starke.gg</h2>
        </div>
        <div class = "link-container">
            <a class="link">Home</a>
            <a class="link">Resume</a>
            <a class="link">Simfiles</a>
            <a class="link">Music</a>
            <a class="link">Contact</a>
        </div>
    </div>
</div>
